<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
  <form #consultaForm="ngForm" (submit)="consultar()">
    <div class="row">
      <div class="col-md-6">
        <label for="inputName">Nome cliente:</label>
        <input type="text" [(ngModel)]="name"
               name="name" class="form-control"
               id="inputName"></div>
      <div class="col-md-6">
        <label for="inputName">Mês:</label>
        <select [(ngModel)]="month" class="form-control" name="month">
          <option value="">Selecione...</option>
          <option *ngFor="let month of months" [value]="month">
            {{ month }}
          </option>
        </select>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-info">
          <i class="fa fa-search"></i> Consultar
        </button>

        <button type="button" class="btn btn-dark ml-2" routerLink="/provided-services/form">
          <i class="fa fa-plus"></i> Novo
        </button>
      </div>
    </div>
  </form>


  <br/>

    <div class="row">
      <div class="alert alert-warning ml-3" role="alert" *ngIf="message">
        {{message}}
      </div>

    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>Cliente</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of list">
          <td>{{s.client.name}}</td>
          <td>{{s.description}}</td>
          <td>{{s.value}}</td>
          <td>{{s.date}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
